/* Variables
   ✧ ༝ ┉ ˚ * ❋ ❋ * ˚ ┉ ༝ ✧ */

   :root {
    --color-red: #FF6565;
    --color-white: #FFF;
    --color-black: #000;

    --default-font: 'Source Sans Pro', sans-serif;
    --font-light: url(fonts/source-sans-pro/SourceSansPro-Light.otf);
    --font-bold: url(fonts/source-sans-pro/SourceSansPro-Bold.otf);
    --font-semi-bold: url(fonts/source-sans-pro/SourceSansPro-Semibold.otf);
   
    --bar-width: 20px;
    --bar-height: 2px;
    --hamburger-gap: 4px;
    --hamburger-margin: 5%;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }

/* Helpers Section
    ✧ ༝ ┉ ˚ * ❋ ❋ * ˚ ┉ ༝ ✧ */


/* Body Section
    ✧ ༝ ┉ ˚ * ❋ ❋ * ˚ ┉ ༝ ✧ */

  body {
  font-family: var(--default-font);
  }

/* Flexbox Section
    ✧ ༝ ┉ ˚ * ❋ ❋ * ˚ ┉ ༝ ✧ */

  .flex {
    display: flex;
  }

/* ✧ ༝ ┉ ˚ * ❋ 
❋ * ˚ ┉ ༝ ✧ * BEGIN HEADER SECTION * ✧ ༝ ┉ ˚ * ❋ 
                                    ❋ * ˚ ┉ ༝ ✧ */
  .header-background {
    background-image: url('images/headphones_hero_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 800px;
  }
  header {
    display: flex;
    color:#FFF;

    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
  }
  .navbar {
    margin: 30px 200px;
    width: 1000px;

    display: flex;
    justify-content: space-between;
    /* align-self: center; */
    /* position: relative; */
  }

  /* Body Text Section
      ✧ ༝ ┉ ˚ * ❋ ❋ * ˚ ┉ ༝ ✧ */
    .title {
      font-size: 32px;
      font-weight: bold;
      color: #FFF;
    }
    .subtitle {
      font-size: 16px;
      font-weight: bold;
      color: #FFF;
    }
    .block-text-white {
      font-size: 16px;
      font-weight: lighter;
      color: #FFF;

      line-height: 26px;
    }

  /* Logo Section
      ✧ ༝ ┉ ˚ * ❋ ❋ * ˚ ┉ ༝ ✧ */

      .logo {
        height: 32px;
      }

  /* Header Nav Links Section
      ✧ ༝ ┉ ˚ * ❋ ❋ * ˚ ┉ ༝ ✧ */

    ul {
      color:#FFF;
      display: flex;
      list-style: none;
      margin: 0px;
      padding: 0px;
    }
    li {
      margin: 1rem;
    }
    a {
      text-decoration: none;
      color: var(--color-white);
    }
    a:hover{
      color: var(--color-red);
    }
    .header-menu {
      font-size: 12px;
      font-weight: bold;
      /* width: 71.4%; */
    }

  /* Header main Section
      ✧ ༝ ┉ ˚ * ❋ ❋ * ˚ ┉ ༝ ✧ */

    .header-main {
      margin-top: 250px;
      width: 637px;
      text-align: center;

      display: flex;
      flex-direction: column;
      gap: 32px;
    }

  /* Header Button Section
      ✧ ༝ ┉ ˚ * ❋ ❋ * ˚ ┉ ༝ ✧ */

    .call-button {
      align-self: center;
      color: #FFF;
      background-color: #FF6565;

      width: 12rem;
      height: 3rem;

      border: none;
      border-radius: 1.5rem;

      font-weight: bold;
      font-size: 15px;

      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);

      cursor: pointer;
    } 
    .call-button:hover {
      opacity: 0.9;
    }
/* ✧ ༝ ┉ ˚ * ❋ 
❋ * ˚ ┉ ༝ ✧ * END HEADER SECTION * ✧ ༝ ┉ ˚ * ❋ 
                                    ❋ * ˚ ┉ ༝ ✧ */


/* ✧ ༝ ┉ ˚ * ❋ 
❋ * ˚ ┉ ༝ ✧ * BEGIN WHAT WE DO SECTION * ✧ ༝ ┉ ˚ * ❋ 
                                      ❋ * ˚ ┉ ༝ ✧ */

    .what-we-do {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      text-align: center;
      max-width: 1000px;
      padding-bottom: 97px;
      flex-wrap: wrap;

      background-color: var(--color-white);
    }
    .wwd-title {
      padding-top: 80px;
      padding-bottom: 40px;
      font-size: 32px;
      font-weight: 600;
      color: var(-color-black);
    }
    .block-text-black {
      font-size: 16px;
      max-width: 637px;
      font-weight: lighter;
      color: var(--color-black);
      text-align: center;
      line-height: 26px;
    }
    .wwd-images {
      justify-content: center;
      align-items: center;
      display: flex;
      text-align: center;
      padding-bottom: 110px;
    }
    .wwd-h3 {
      font-family: var(--font-semi-bold);
      font-size: 18px;
    }
    .wwd-p {
      font-size: 14px;
      line-height: 26px;
      max-width: 207px;
    }



/* Hamburger Section
    ✧ ༝ ┉ ˚ * ❋ ❋ * ˚ ┉ ༝ ✧ */
    .hamburger {
      display: none;
      position: absolute;
    }
  
/* Mobile Section
    ✧ ༝ ┉ ˚ * ❋ ❋ * ˚ ┉ ༝ ✧ */
  @media screen and (max-width: 414px)  {
    .logo {
      align-self: center;
      position: absolute;
      margin: 0 auto;
    }
    .header-menu a {
    }
    .header-menu {
      transition: translate var(--animation-timing);
      transform: translateX(-200%);
      padding-top: 10px;
      top: calc(var(--hamburger-margin) + 32px);
      left: 0;
      width: 100%;
      z-index: 1;
    }
    .hamburger-menu:has(input:checked) .header-menu {
      translate: 0;
    }
    body.hamburger-active .header-menu {
      transform: translateX(0);
    }
  
   /* Hammy Section
      ✧ ༝ ┉ ˚ * ❋ ❋ * ˚ ┉ ༝ ✧ */ 
    .hamburger {
      --x-width: calc(var(--hamburger-height) * 1.41421356237);

      display: flex;
      flex-direction: column;
      gap: var(--hamburger-gap);
      width: max-content;
      position: absolute;
      top: 65px;
      left: var(--hamburger-margin);
      z-index: 2;

      cursor: pointer;
    }

    /* Hammy Animation Section
        ✧ ༝ ┉ ˚ * ❋ ❋ * ˚ ┉ ༝ ✧ */
    .hamburger::before, .hamburger::after, .hamburger input{
      content: "";
      background-color: var(--color-white);
      width: var(--bar-width);
      height: var(--bar-height);
      border-radius: 9999px;
      transform-origin: left center;
      transition: opacity var(--animation-timing), width var(--animation-timing),
       rotate var(--animation-timing), translate var(--animation-timing),
       background-color var(--animation-timing);
    }
    .hamburger::after {
      width: 18px;
    } 
    .hamburger input {
      appearance: none;
      width: 13px;
      pointer-events: none;
    }
    .hamburger:has(input:checked)::before {
      rotate: 45deg;
      width: var(--x-width);
      translate: 0 calc(var(--bar-height) / -2);
    }
    .hamburger:has(input:checked)::after {
      rotate: -45deg;
      width: var(--x-width);
      translate: 0 calc(var(--bar-height) / 2);
    }
    .hamburger input:checked {
      opacity: 0;
      width: 0;
      background-color: transparent;
    }
  }

/* Tablet Section
    ✧ ༝ ┉ ˚ * ❋ ❋ * ˚ ┉ ༝ ✧ */
  @media screen and (max-width: 768px)  {

    }